mixin tag-stuff(section_name, tag)
  .dox_tag_title= section_name
  .dox_tag_detail
    if tag.name
      span.name= tag.name
    each type in tag.types
      span.dox_type= type
    if tag.description
      span.description!= md(tag.description, true)
    if tag.visibility
      span.dox_type= tag.visibility 
    if tag.url
      a(href=tag.url)= (tag.title || tag.url)
    if tag.local
      span.dox_type= tag.local 


.dox
  .summary!= md(description.summary)
  .body!= md(description.body)

  if tags.length
    - var hasParams = false, hasReturn = false, hasType = false;    

    .details

      each tag in tags
        case tag.type

          when "module"
            h1= tag.moduleName 

          when "param"
            if !hasParams
              - hasParams = true;                                       
              mixin tag-stuff("Params", tag)

          when "return"
            if !hasReturn
              - hasReturn = true;                                       
              mixin tag-stuff("Returns", tag)

          when "type"
            if !hasType
              - hasType = true;                                         
              mixin tag-stuff("Type", tag)

          when "api"
            mixin tag-stuff("API", tag)

          when "see"
            mixin tag-stuff("See", tag)



